/* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126    License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS reset end*/



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0 auto;
  background-color: bisque;
}

header {
  height: 100vh;
}

.imgContainer {
  background-image: url(../images/049.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

div {

}

nav {
    width: 100%;
    height: 50px;
    padding: 15px 0;
    background-color: green;

}

.initial {
  position: fixed;
  bottom: 0;

}

nav .menu {
    background-color: aqua;
    list-style: none;
    padding-left: 100px;
    height: 50px;
    width: 100%;
}
a {
  text-decoration: none;
}

.menu a {
    display: inline-block;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

p {
  padding: 20px 100px 20px 100px;;
  font-size: 20px;
}

.blur1 {
  filter: blur(1px);
}
.blur2 {
  filter: blur(2px);
}
.blur3 {
  filter: blur(3px);
}
.blur4 {
  filter: blur(4px);
}
.blur5 {
  filter: blur(5px);
}
